body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.50;
  color: #666666;
  background: #e9e9e9 url("../images/vinaquips/bg/bg.png");
}

body.full-height, body.full-height .page-wrapper {
  background: #e9e9e9 url("../images/vinaquips/bg/bg.png");
  min-height: 100%;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

.lead {
  font-size: 16px;
}

.margin-top-clear {
  margin-top: 10px !important;
}

.page-wrapper {
  background: none;
}

.container {
  background: #fff;
}

#footer .container, .header-top .container, .header .container, .banner .container, .page-intro .container {
  background: none;
  box-shadow: none;
}

.main-container {
  padding: 20px 0;
}

.object-non-visible {
  opacity: 1;
}

a {
  color: #e84c3d;
}
a:hover {
  text-decoration: none;
}

.viewDetail {
  font-size: 16px;
  font-weight: 300;
  color: #e84c3d;
}

.btn.btn-sm {
  padding: 0;
}

.logo {
  margin-bottom: 20px;
}

.elements-list > * {
  margin-top: 0;
  line-height: inherit;
}

.mega-menu.dropdown img {
  width: 300px;
  height: 300px;
}

.globalTitle {
  position: relative;
}
.globalTitle .viewAll {
  position: absolute;
  right: 20px;
  top: 10px;
}
.globalTitle a {
  color: #005A89;
}
.globalTitle a:hover {
  color: #e84c3d;
}
